.home-pic-div {
    text-align: center;
    margin-bottom: 20px;
}
.home-pic{
    width: 100%;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}
.home-text {
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 30px;
    padding: 30px;
}

.home-text > h1 {
    margin-bottom: 15px;
    text-align: center;
}

.home-text > p {
    margin-bottom: 10px;
}