.home-pic-div {
    text-align: center;
    margin-bottom: 20px;
}
.home-pic{
    width: 100%;
    max-width: 500px;
    border-radius: var(--border-radius-main);
    box-shadow: var(--box-shadow);
}
.home-text {
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-main);
    padding: var(--padding-main);
}

.home-text > h2 {
    margin-bottom: 15px;
    text-align: center;
}

.home-text > p {
    margin-bottom: 10px;
}

@media screen and (min-width: 1151px) {
    .home-div {
        display: flex;
        align-items: center;
        width: 1064px;
        margin: auto;
    }
    
    .home-pic-div {
        margin-bottom: 0;
        margin: 0 10px;
    }

    .home-pic {
        max-width: 100%;
    }
    .home-text {
        width: 100%;
        margin: 0 10px;
    }
}